dist/
node_modules/
.turbo/
package-lock.json
.vscode/
pnpm-lock.yaml
.idea/
packages/*/src/model/generated
packages/client-anpr-residence-verification-mockup/keys/
packages/residence-verification/aws.config.local
packages/residence-verification-direct/aws.config.local
*.priv
