dist/
node_modules/
.turbo/
package-lock.json
.vscode/
pnpm-lock.yaml
.idea/
packages/*/src/model/generated
packages/residence-verification/aws.config.local
packages/residence-verification-direct/aws.config.local