openapi: 3.0.1
info:
  title:  API Digital Address
  version: 1.0.0-SNAPSHOT
tags:
  - name: API Massive extractions
  - name: API Single extractions
servers:
  - url: http://eservices.att.interop.pagopa.it/
    description: Attestation Environment
paths:
  /digital-address-verification/status:
    get:
      summary: Returns the application state.
      description: |
        Returns the application state: 200 if it works correctly
        or an error if the application is temporarily unavailable
        for maintenance or a technical problem.
      operationId: get_status
      tags:
        - HealthCheck
      responses:
        '200':
          description: |
            The server has returned to status. In case of problems
            always returns a problem+json.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /digital-address-verification/data-preparation:
    post:
      tags:
        - Data Preparation
      description: Data entry for dataPreparation
      operationId: dataPreparationlListDigitalAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Response_Request_Digital_Address'
        required: true
      responses:
        '200':
          description: Request completed successfully.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
    get:
      tags:
        - Data Preparation
      description: Retrieval of data inserted with dataPreparation
      operationId: getDataPreparationElencoDomiciliDigitali
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_List_Request_Digital_Address'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
    delete:
      tags:
        - Data Preparation
      description: Deletion of all data entered with dataPreparation
      operationId: dataPreparationDeleteDomiciliDigitali
      responses:
        '202':
          description: Request completed successfully.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /digital-address-verification/data-preparation/{idSubject}:
    get:
      tags:
        - Data Preparation
      description: Retrieval of data inserted with dataPreparation
      operationId: getDataPreparationElencoDomiciliDigitaliDetails
      parameters:
        - name: idSubject
          in: path
          required: true
          description: The ID of the object to return
          schema:
            type: string
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Request_Digital_Address'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
    delete:
      tags:
        - Data Preparation
      description: Deletion of data entered with dataPreparation for the specified idSubject
      operationId: deleteDataPreparationListDigitalAddress
      parameters:
        - name: idSubject
          in: path
          required: true
          description: The idSubject of the object to be deleted
          schema:
            type: string
      responses:
        '200':
          description: Request completed successfully.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
          
  /digital-address-verification/list:
    post:
      tags:
        - API Massive extractions
      description: Allows you to send a request to extract digital addresses starting from the list of subject IDs provided (up to a maximum of 1,000 subject IDs). For each subject ID you obtain the relevant digital address found at the time of extraction and, in the case of a digital address as a Professional, the professional activity carried out will also be returned. Request processing is carried out in asynchronous mode. The list, identified by a unique code, is made available through a recovery service.
      operationId: requestListDigitalAddresses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_List_Digital_Address'
        required: true
      responses:
        '202':
          description: JSON response through which the Provider provides, together with the acknowledgment of the request, the URL to query the processing status using the <i>HTTP header Location</i>. The list is identified by a unique identification code.
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Request_List_Digital_Address'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /digital-address-verification/verify/{id_subject}:
    get:
      tags:
        - API Single extractions
      description: By providing the digital address, subject ID, and date as input, the service allows you to verify if, on the specified date, the digital address was associated with the indicated subject ID
      operationId: checkDigitalAdrress
      parameters:
        - name: id_subject
          in: path
          description: subject id for which you are looking for
          required: true
          schema:
            $ref: '#/components/schemas/CodiceFiscale'
          example: VRANGL74M28R701X
        - name: digital_address
          in: query
          description: PEC address of the address to search for
          required: true
          schema:
            $ref: '#/components/schemas/Digital_Address'
          example: example@pec.it
        - name: from
          in: query
          description: Date in ISO 8601 format <i>yyyy-MM-dd</i>
          required: true
          schema:
            type: string
            format: date
          example: '2017-07-21'
        - name: idPractice
          in: query
          description: Reference of the administrative procedure for which the extraction is requested
          required: true
          schema:
            $ref: '#/components/schemas/PracticalReference'
      responses:
        '200':
          description: Response JSON that returns the result of the verification of the associated (<i>true</i>) or non-associated (<i>false</i>) digital address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Verify_Digital_Address'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /digital-address-verification/list/state/{id}:
    get:
      tags:
        - API Massive extractions
      description: It allows you to check the processing status of the request for the list of digital addresses, identified by a unique code
      operationId: verificaStatoRichiestaElencoDomiciliDigitali
      parameters:
        - name: id
          in: path
          description: Unique code of the Report processing request
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Response JSON through which the Provider indicates, based on the processing status, that the operation is not completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Status_List_Digital_Address'
              example:
                state: IN_ELABORAZIONE
                message: List request in progress state
        '303':
          description: The response JSON through which the Provider indicates, based on the processing status, that the list is ready at the URL specified in the <i>HTTP Location header</i>.
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Status_List_Digital_Address'
              example:
                state: DISPONIBILE
                message: Request list available
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /digital-address-verification/list/response/{id}:
    get:
      tags:
        - API Massive extractions
      description: Allows you to retrieve the list of digital domiciles identified by the unique identification code.
      operationId: recoveryListDigitalAddresses
      parameters:
        - name: id
          in: path
          description: Unique code of the Report processing request
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: A JSON response containing the list of extracted digital addresses. The tax codes for which a digital address is not available are still included in the response, with the corresponding field left unpopulated. The list is available for up to 48 hours, after which it is deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_List_Digital_Address'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /digital-address-verification/retrieve/{id_subject}:
    get:
      tags:
        - API Single extractions
      description: It allows you to retrieve the digital address associated with the subject's ID at the time of consultation and, if the digital address has been selected as a Professional, also the details regarding the professional activity carried out.
      operationId: retrieveDigitalAddress
      parameters:
        - name: id_subject
          in: path
          description: subject id for which you are searching
          required: true
          schema:
            $ref: '#/components/schemas/CodiceFiscale'
          example: VRANGL74M28R701X
        - name: practicalReference
          in: query
          description: Reference of the procedure for which the extraction is requested
          required: true
          schema:
            $ref: '#/components/schemas/PracticalReference'
      responses:
        '200':
          description: Response JSON that returns the extracted digital address. For the digital address chosen as a Professional, the professional activity carried out is also extracted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Request_Digital_Address'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
components:
  schemas:
    Errore:
      required:
        - status
        - type
      type: object
      properties:
        status:
          type: string
          description: Error code
          example: <HTTP_CODE>
          enum:
            - '400'
            - '401'
            - '403'
            - '404'
            - '500'
            - '503'
        type:
          type: string
          description: Type of error
          example: <HTTP_STATUS>
          enum:
            - BAD_REQUEST
            - UNAUTHORIZED
            - FORBIDDEN
            - NOT_FOUND
            - INTERNAL_SERVER_ERROR
            - SERVICE_UNAVAILABLE
        detail:
          type: string
          description: Detailed description of the specific problem that occurred
          example: <detail_error>
      description: Error response template
    Response_Request_List_Digital_Address:
      required:
        - requestTimestamp
        - id
        - message
        - state
      type: object
      properties:
        state:
          $ref: '#/components/schemas/Status_Processing_Request'
        message:
          type: string
          description: Confirmation message that the request has been processed
          example: List request
        id:
          $ref: '#/components/schemas/UUID'
        requestTimestamp:
          type: string
          description: Date/Time of entry of the request in ISO 8601 format <yyyy-MM-dd'T'HH:mm:ssZ>
          format: date-time
          example: '2017-07-21T17:32:28Z'
      description: Response template for Digital Address List Request
    Request_List_Digital_Address:
      required:
        - idSubjects
        - idRequest
      type: object
      properties:
        idSubjects:
          type: array
          items:
            $ref: '#/components/schemas/CodiceFiscale'
        idRequest:
          $ref: '#/components/schemas/PracticalReference'
      description: Request form for Digital Domicile List
    Response_Verify_Digital_Address:
      required:
        - timestampCheck
        - result
      type: object
      properties:
        result:
          type: boolean
          description: Result of the check
          example: true
        timestampCheck:
          type: string
          description: Date/Time extraction in ISO 8601 format <yyyy-MM-dd'T'HH:mm:ssZ>
          format: date-time
          example: '2017-07-21T17:32:28Z'
      description: Answer template for Digital Address Verification
    Response_Status_List_Digital_Address:
      required:
        - message
        - status
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status_Processing_Request'
        message:
          type: string
          description: Descriptive message of the status of the request
          example: List request being processed
      description: Response template for Digital Address List Request Status
    Element_Digital_Address:
      required:
        - digitalAddress
        - information
      type: object
      properties:
        digitalAddress:
          $ref: '#/components/schemas/Digital_Address'
        profession:
          type: string
          description: Profession. Field not present for Individual/Entity
          example: Doctor
        information:
          $ref: '#/components/schemas/Usage_Info'
      description: Response model for single digital address
    Response_List_Digital_Address:
      required:
        - list
      type: object
      properties:
        list:
          type: array
          description: List of extracted Digital Domiciles
          items:
            $ref: '#/components/schemas/Response_Request_Digital_Address'
      description: Answer template for Digital Domicile List
    Response_Request_Digital_Address:
      required:
        - idSubject
        - digitalAddress
        - from
      type: object
      properties:
        idSubject:
          $ref: '#/components/schemas/CodiceFiscale'
        from:
          type: string
          description: Date/Time extraction in ISO 8601 format <yyyy-MM-dd'T'HH:mm:ssZ>
          format: date-time
          example: '2017-07-21T17:32:28Z'
        digitalAddress:
          type: array
          description: List of Digital Domiciles relating to the Input subject id
          items:
            $ref: '#/components/schemas/Element_Digital_Address'
      description: Answer template for Digital Address Search
    
    Response_List_Request_Digital_Address:
      required:
        - idSubject
        - digitalAddress
        - from
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Response_Request_Digital_Address'
      description: Answer template for Digital Address List
    
    Usage_Info:
      required:
        - endDate
        - reason
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/Motivation_Termination'
        endDate:
          type: string
          description: End of validity date/time in ISO 8601 format <yyyy-MM-dd'T'HH:mm:ssZ>
          format: date-time
          example: '2017-07-21T17:32:28Z'
      description: Response template Info Use for single digital address
    CodiceFiscale:
      pattern: ^([0-9]{11})|([A-Za-z]{6}[0-9]{2}[A-Za-z]{1}[0-9]{2}[A-Za-z]{1}[0-9]{3}[A-Za-z]{1})$
      type: string
      description: tax code/VAT number relating to the digital address
      example: VRANGL74M28R701X
    PracticalReference:
      type: string
      description: Reference of the administrative procedure for which the extraction is requested
      example: abc123
    Digital_Address:
      pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      type: string
      description: PEC address
      example: example@pec.it
    UUID:
      maxLength: 40
      minLength: 20
      pattern: ^[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$
      type: string
      description: Unique code of the Report processing request
      example: d9c3de3d-1fea-4f5c-a8b0-29f63c4c3455
    Status_Processing_Request:
      type: string
      description: Stato della richiesta di elaborazione Report
      example: PRESA_IN_CARICO
      enum:
        - PRESA_IN_CARICO
        - IN_ELABORAZIONE
        - DISPONIBILE
    Motivation_Termination:
      type: string
      description: Reason for termination of the Digital address
      example: CESSAZIONE_VOLONTARIA
      enum:
        - CESSAZIONE_UFFICIO
        - CESSAZIONE_VOLONTARIA
  responses:
    '400':
      description: BAD_REQUEST
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '401':
      description: UNAUTHORIZED
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '403':
      description: FORBIDDEN
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '404':
      description: NOT_FOUND
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '500':
      description: INTERNAL_SERVER_ERROR
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
    '503':
      description: SERVICE_UNAVAILABLE
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Errore'
  headers:
    Location:
      description: URL to check the status
      schema:
        type: string
        format: uri
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: RFC8725 compliant implementation. Contains the JWT recovered from PDND interoperability by applying the Guidelines on the technological infrastructure of the National Digital Data Platform for the interoperability of information systems and databases pursuant to article 50-ter, paragraph 2 of the CAD
security:
  - bearerAuth: []