#
# Check signature id validity
x-commons:
  ratelimit-headers: &ratelimit-headers
    X-RateLimit-Limit:
      $ref: '#/components/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: '#/components/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: '#/components/headers/X-RateLimit-Reset'
  ratelimit-keychain-headers: &ratelimit-keychain-headers
    X-RateLimit-Limit:
      $ref: '#/components/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: '#/components/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: '#/components/headers/X-RateLimit-Reset'
    X-Payload-Signature-Kid:
      $ref: '#/components/parameters/X-Payload-Signature-Kid'
    X-Payload-Signature:
      $ref: '#/components/parameters/X-Payload-Signature'
    X-Payload-Signature-Algorythm:
      $ref: '#/components/parameters/X-Payload-Signature-Algorythm'

  common-responses: &common-responses
    '400':
      $ref: '#/components/responses/400BadRequest'
    '401':
      $ref: '#/components/responses/401Unauthorized'
    '429':
      $ref: '#/components/responses/429TooManyRequests'
    '503':
      $ref: '#/components/responses/503ServiceUnavailable'
    default:
      $ref: '#/components/responses/default'


openapi: 3.0.0
info:
  version: "3.0.0"

  title: |-
    Attestazione - Demo Portachiavi
  x-summary: >-
    Check the validity of the signatue for individuals and non-individual entities

  description: |
    #### Documentation
    This service returns the validity of a given signature, represented by a boolean return field in the JSON response object.

    #### Notes
    
    #### Compliance with the interoperability model
    The Throttling Header X-RateLimit-Reset is not sent in case of an HTTPS status code 200; it will only be present if a 429 status code occurs.

    #### Security
    Although this is a publicly accessible API, it requires the submission of an API Key, allowing the infrastructure to apply throttling policies defined in the subscribed plan.

  contact:
    name: PagoPA S.p.A
    url: https://www.interop.pagopa.it/
  x-audience:
    - public
  x-api-id: 5ca54741-8f62-4aad-ab79-13ae762920e3
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: HealthCheck
    description: |-
      Unauthenticated endpoint for service status check.
  - name: Check
    description: |-
      checks the validity and existence of the input signature
servers:
  - description: Ambiente di Attestazione
    url: https://mtls.eservices.att.interop.pagopa.it/


paths:
  /keychain-mock/status:
    get:
      summary: Returns the application state.
      description: |
        Returns the application status: 200 if it is working correctly
        or an error if the application is temporarily unavailable
        for maintenance or a technical problem.
      operationId: get_status
      tags:
        - HealthCheck
      responses:
        <<: *common-responses
        '200':
          description: |
            The server has returned to status. In case of problems
            always returns a problem+json..
          headers:
            <<: *ratelimit-headers
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /keychain-mock/signature:
    get:
      summary: Carry out a validation of the input signature.
      operationId: get_signature
      tags:
        - Signature
      description: |
        Returns response with signature
      responses:
        <<: *common-responses
        '200':
          description: |
            The server was able to verify the validity of the signature.
          # header di throttling requires
          headers:
            <<: *ratelimit-headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponseSignature'
  /keychain-mock/verify:
    post:
      summary: Verifies the input message.
      operationId: post_verify_message
      tags:
        - Signature
      description: |
        This endpoint takes a message input and returns a status indicating
        whether the message verification was successful or not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputMessage'
            example:
              message: "risposta generata con successo"
      responses:
        <<: *common-responses
        '200':
          description: |
            The server has verified the message and returns the status.
          headers:
            <<: *ratelimit-headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
components:
  schemas:
    SuccessResponseSignature:
      type: object
      properties:
        message:
          type: string
          example: "risposta generata con successo"
    
    InputMessage:
      type: object
      properties:
        message:
          type: string
          example: "risposta generata con successo"

    VerificationResponse:
      type: object
      properties:
        status:
          type: string
          description: |
            Indicates if the message verification was successful.
        message:
          type: string
          description: |
            Contains an error message if status is "KO"; otherwise, it may be empty.
          example: "Eventuale messaggio di errore"

    Problem:
      properties:
        detail:
          description: |
            A human readable explanation specific to this occurrence of the
            problem. You MUST NOT expose internal informations, personal
            data or implementation details through this field.
          example: Request took too long to complete.
          type: string
        instance:
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
          format: uri
          type: string
        status:
          description: |
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          example: 503
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized); example: Service Unavailable
          type: string
        type:
          default: about:blank
          description: |
            An absolute URI that identifies the problem type.  When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          format: uri
          type: string
      type: object

  parameters:
    X-Payload-Signature-Kid:
      in: header
      name: X-Payload-Signature-Kid
      required: true
      schema:
        type: string
    X-Payload-Signature:
      in: header
      name: X-Payload-Signature
      required: true
      schema:
        type: string
    X-Payload-Signature-Algorythm:
      in: header
      name: X-Payload-Signature-Algorythm
      required: true
      schema:
        type: string
  
  headers:
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        type: string
    WWW-Authenticate:
      description: |-
        Auth realm=APIkey
        See https://tools.ietf.org/html/rfc7235#section-4.1
      schema:
        type: string
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        type: string
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        type: string
    X-RateLimit-Reset:
      description: The number of seconds left in the current period
      schema:
        type: string

  responses:
    400BadRequest:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Bad Request
    401Unauthorized:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      headers:
        WWW-Authenticate:
          $ref: '#/components/headers/WWW-Authenticate'
      description: Not authorized
    403Forbidden:
      description: Forbidden
    404NotFound:
      description: Not Found
    429TooManyRequests:
      description: Too many requests
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    503ServiceUnavailable:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Service Unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
    default:
      description: Unexpected error
