openapi: 3.0.3
info:
  title: Residence Address Verification API
  description: Service for verifying a citizen's residence for the purposes of an investigation
  version: "1.0.0"
  termsOfService: "http://swagger.io/terms/"
  x-summary: Residence verification
servers:
  - url: "http://eservices.att.interop.pagopa.it/"
    description: Attestation Environment
tags:
  - name: Residence Address Check
    description: Residence verification
  - name: Health Check
    description: Check application status
security:
  - bearerAuth: []
    Agid-JWT-Signature: []

paths:
  /residence-verification/check:
    post:
      tags:
        - Residence Address Check
      summary: Check for a residential address
      description: Check for a residential address
      operationId: AR002
      security:
        - bearerAuth: []
      requestBody:
        required: true
        description: Request info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RichiestaAR002"
      responses:
        "200":
          description: Address found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RispostaAR002OK"
        "400":
          description: Not valid request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/RispostaKO"
        "404":
          description: Address not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/RispostaKO"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/RispostaKO"

  /residence-verification/status:
    get:
      tags:
        - Health Check
      summary: Health status endpoint
      description: Return ok
      operationId: getStatus
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"

  /residence-verification/pseudonymization:
    get:
      tags:
        - Pseudonymization data
      summary: Gets a pseudonymization data
      description: Info about crypto hash function and seed
      operationId: getPseudonymization
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PseudonymizationResponse"

components:
  schemas:
    RichiestaAR002:
      type: object
      required:
        - idOperazioneClient
        - criteriRicerca
        - datiRichiesta
      properties:
        idOperazioneClient:
          type: string
        criteriRicerca:
          $ref: "#/components/schemas/CriteriRicercaAR002"
        verifica:
          $ref: "#/components/schemas/VerificaAR002"
        datiRichiesta:
          $ref: "#/components/schemas/DatiRichiestaAR002"

    CriteriRicercaAR002:
      type: object
      properties:
        codiceFiscale:
          type: string
        idANPR:
          type: string
        cognome:
          type: string
        senzaCognome:
          type: string
        nome:
          type: string
        senzaNome:
          type: string
        sesso:
          type: string
        datiNascita:
          $ref: "#/components/schemas/DatiNascitaAR002"

    DatiNascitaAR002:
      type: object
      properties:
        dataEvento:
          type: string
          format: date
          example: "1985-08-01"
        senzaGiorno:
          type: string
        senzaGiornoMese:
          type: string
        luogoNascita:
          type: object
          properties:
            luogoEccezionale:
              type: string
            comune:
              $ref: "#/components/schemas/TipoComuneAR002"
            localita:
              $ref: "#/components/schemas/TipoLocalitaAR002"

    VerificaAR002:
      type: object
      properties:
        residenza:
          type: object
          properties:
            tipoIndirizzo:
              type: string
            indirizzo:
              $ref: "#/components/schemas/TipoIndirizzoAR002"
            localitaEstera:
              $ref: "#/components/schemas/TipoLocalitaEsteraAR002"

    TipoIndirizzoAR002:
      type: object
      properties:
        cap:
          type: string
        comune:
          $ref: "#/components/schemas/TipoComuneAR002"
        frazione:
          type: string
        toponimo:
          $ref: "#/components/schemas/TipoToponimoAR002"
        numeroCivico:
          $ref: "#/components/schemas/TipoNumeroCivicoAR002"

    TipoToponimoAR002:
      type: object
      properties:
        codSpecie:
          type: string
        specie:
          type: string
        specieFonte:
          type: string
        codToponimo:
          type: string
        denominazioneToponimo:
          type: string
        toponimoFonte:
          type: string

    TipoNumeroCivicoAR002:
      type: object
      properties:
        codiceCivico:
          type: string
        civicoFonte:
          type: string
        numero:
          type: string
        metrico:
          type: string
        progSNC:
          type: string
        lettera:
          type: string
        esponente1:
          type: string
        colore:
          type: string
        civicoInterno:
          $ref: "#/components/schemas/TipoCivicoInternoAR002"

    TipoCivicoInternoAR002:
      type: object
      properties:
        corte:
          type: string
        scala:
          type: string
        interno1:
          type: string
        espInterno1:
          type: string
        interno2:
          type: string
        espInterno2:
          type: string
        scalaEsterna:
          type: string
        secondario:
          type: string
        piano:
          type: string
        nui:
          type: string
        isolato:
          type: string

    TipoLocalitaEsteraAR002:
       type: object
       properties:
         indirizzoEstero:
           type: object
           properties:
             cap:
               type: string
             localita:
               $ref: "#/components/schemas/TipoLocalitaAR002"
             toponimo:
               type: object
               properties:
                 denominazione:
                   type: string
                 numeroCivico:
                   type: string
         consolato:
           type: object
           properties:
             codiceConsolato:
               type: string
             descrizioneConsolato:
               type: string

    DatiRichiestaAR002:
      type: object
      required:
        - dataRiferimentoRichiesta
        - casoUso
        - motivoRichiesta
      properties:
        dataRiferimentoRichiesta:
          type: string
          format: date
          example: "2021-11-15"
        motivoRichiesta:
          type: string
        casoUso:
          type: string

    TipoComuneAR002:
      type: object
      properties:
        nomeComune:
          type: string
        codiceIstat:
          type: string
        siglaProvinciaIstat:
          type: string
        descrizioneLocalita:
          type: string

    TipoLocalitaAR002:
      type: object
      properties:
        descrizioneLocalita:
          type: string
        descrizioneStato:
          type: string
        codiceStato:
          type: string
        provinciaContea:
          type: string

    RispostaAR002OK:
      type: object
      properties:
        idOperazioneANPR:
          type: string
        listaSoggetti:
          type: object
          properties:
            datiSoggetto:
              type: array
              items:
                $ref: "#/components/schemas/DatiSoggettoEnteAR002"
        listaAnomalie:
          type: array
          items:
            $ref: "#/components/schemas/AnomaliaAR002"

    DatiSoggettoEnteAR002:
      type: object
      properties:
        infoSoggettoEnte:
          type: array
          items:
            $ref: "#/components/schemas/InfoSoggettoItemAR002"

    InfoSoggettoItemAR002:
      type: object
      properties:
        id:
          type: string
        chiave:
          type: string
        valore:
          type: string
          enum: ["A", "N", "S", "D"]
        valoreTesto:
          type: string
        valoreData:
          type: string
        dettaglio:
          type: string

    AnomaliaAR002:
      type: object
      properties:
        codiceErroreAnomalia:
          type: string
        tipoErroreAnomalia:
          type: string
        testoErroreAnomalia:
          type: string
        oggettoErroreAnomalia:
          type: string
        campoErroreAnomalia:
          type: string
        valoreErroreAnomalia:
          type: string

    RichiestaAR001:
      type: object
      required:
        - operationId
        - criteria
        - requestData
      properties:
        operationId:
          type: string
        criteria:
          $ref: "#/components/schemas/TipoParametriRicercaAR001"
        requestData:
          $ref: "#/components/schemas/TipoRichiestaAR001"
    RispostaAR001:
      type: object
      properties:
        idOp:
          type: string
        subjects:
          $ref: "#/components/schemas/TipoListaSubjects"
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/TipoErroriAnomalia"
    RispostaKO:
      type: object
      properties:
        nationalUniqueIdentifier:
          type: string
        errors:
          type: array
          items:
            $ref: "#/components/schemas/TipoErroriAnomalia"
    TipoParametriRicercaAR001:
      type: object
      properties:
        subjectId:
          type: string
        id:
          type: string
          description: National Unique Identifier
        surname:
          type: string
        noSurname:
          type: string
        name:
          type: string
        noName:
          type: string
        gender:
          type: string
        birthDate:
          $ref: "#/components/schemas/TipoDatiNascitaE000"
    TipoRichiestaAR001:
      type: object
      required:
        - dateOfRequest
        - useCase
        - motivation
      properties:
        dateOfRequest:
          type: string
          description: Date to which the version of the personal data sheet must refer
          format: date
          example: "2021-11-15"
        motivation:
          type: string
          description: Mandatory field for entering the reference number of the case for which the inquiry is made (e.g., protocol number, file, report, etc.).
        useCase:
          type: string
          description: caso d'uso (es. C001)
    TipoErroriAnomalia:
      type: object
      properties:
        warningErrorCode:
          type: string
        warningErrorType:
          type: string
        warningErrorText:
          type: string
        warningErrorObject:
          type: string
        warningErrorField:
          type: string
        warningErrorValue:
          type: string
    TipoListaSubjects:
      type: object
      properties:
        subject:
          type: array
          items:
            $ref: "#/components/schemas/TipoDatiSubjectsEnte"
    TipoDatiSubjectsEnte:
      type: object
      properties:
        generality:
          $ref: "#/components/schemas/TipoGeneralita"
        address:
          type: array
          items:
            $ref: "#/components/schemas/TipoResidenza"
        identifiers:
          $ref: "#/components/schemas/TipoIdentificativi"
        deathDate:
          $ref: "#/components/schemas/TipoDatiEvento"
    TipoDatiNascitaE000:
      type: object
      properties:
        eventDate:
          type: string
          format: date
          example: "2021-11-15"
        noDay:
          type: string
        noMonth:
          type: string
        birthPlace:
          $ref: "#/components/schemas/TipoLuogoNascitaE000"
    TipoLuogoNascitaE000:
      type: object
      properties:
        exceptionalPlace:
          type: string
        municipality:
          $ref: "#/components/schemas/TipoComune"
        place:
          $ref: "#/components/schemas/TipoLocalita"
    TipoComune:
      type: object
      properties:
        nameMunicipality:
          type: string
        istatCode:
          type: string
        acronymIstatProvince:
          type: string
        placeDescription:
          type: string
    TipoLocalita:
      type: object
      properties:
        placeDescription:
          type: string
        countryDescription:
          type: string
        codState:
          type: string
        provinceCounty:
          type: string
    TipoGeneralita:
      type: object
      properties:
        subjectId:
          $ref: "#/components/schemas/TipoCodiceFiscale"
        surname:
          type: string
        noSurname:
          type: string
        name:
          type: string
        noName:
          type: string
        gender:
          type: string
        birthDate:
          type: string
          format: date
          example: "2021-11-15"
        noDay:
          type: string
        noMonth:
          type: string
        birthPlace:
          $ref: "#/components/schemas/TipoLuogoEvento"
        AIRESubject:
          type: string
        yearExpatriation:
          type: string
        idCommonSubjectData:
          $ref: "#/components/schemas/TipoIdSchedaSoggettoComune"
        idSubjectData:
          type: string
        note:
          type: string
    TipoCodiceFiscale:
      type: object
      properties:
        subjectId:
          type: string
        subjectIdValidity:
          type: string
        dataAttributionValidity:
          type: string
          format: date
          example: "2021-11-15"
    TipoLuogoEvento:
      type: object
      properties:
        exceptionalPlace:
          type: string
        municipality:
          $ref: "#/components/schemas/TipoComune"
        place:
          $ref: "#/components/schemas/TipoLocalita"
    TipoIdSchedaSoggettoComune:
      type: object
      properties:
        idCommonSubjectDataIstat:
          type: string
        idSubjectData:
          type: string
    TipoResidenza:
      type: object
      properties:
        addressType:
          type: string
        noteaddress:
          type: string
        address:
          $ref: "#/components/schemas/TipoIndirizzo"
        foreignState:
          $ref: "#/components/schemas/TipoLocalitaEstera1"
        presso:
          type: string
        addressStartDate:
          type: string
          format: date
          example: "2021-11-15"
    TipoIndirizzo:
      type: object
      properties:
        cap:
          type: string
        municipality:
          $ref: "#/components/schemas/TipoComune"
        fraction:
          type: string
        toponym:
          $ref: "#/components/schemas/TipoToponimo"
        civicNumber:
          $ref: "#/components/schemas/TipoNumeroCivico"
    TipoLocalitaEstera1:
      type: object
      properties:
        foreignAddress:
          $ref: "#/components/schemas/TipoIndirizzoEstero"
        consulate:
          $ref: "#/components/schemas/TipoConsolato"
    TipoToponimo:
      type: object
      properties:
        codType:
          type: string
        type:
          type: string
        originType:
          type: string
        toponymCod:
          type: string
        toponymDenomination:
          type: string
        toponymSource:
          type: string
    TipoNumeroCivico:
      type: object
      properties:
        civicCod:
          type: string
        civicSource:
          type: string
        civicNumber:
          type: string
        metric:
          type: string
        progSNC:
          type: string
        letter:
          type: string
        exponent1:
          type: string
        color:
          type: string
        internalCivic:
          $ref: "#/components/schemas/TipoCivicoInterno"
    TipoCivicoInterno:
      type: object
      properties:
        court:
          type: string
        stairs:
          type: string
        internal1:
          type: string
        espInternal1:
          type: string
        internal2:
          type: string
        espInternal2:
          type: string
        externalStairs:
          type: string
        secondary:
          type: string
        floor:
          type: string
        nui:
          type: string
        isolated:
          type: string
    TipoIndirizzoEstero:
      type: object
      properties:
        cap:
          type: string
        place:
          $ref: "#/components/schemas/TipoDatoLocalitaEstera"
        toponym:
          $ref: "#/components/schemas/TipoToponimoEstero"
    TipoConsolato:
      type: object
      properties:
        consulateCod:
          type: string
        consulateDescription:
          type: string
    TipoDatoLocalitaEstera:
      type: object
      properties:
        placeDescription:
          type: string
        countryDescription:
          type: string
        countryState:
          type: string
        provinceCounty:
          type: string
    TipoToponimoEstero:
      type: object
      properties:
        denomination:
          type: string
        civicNumber:
          type: string
    TipoIdentificativi:
      type: object
      properties:
        id:
          type: string
    TipoDatiEvento:
      type: object
      properties:
        eventDate:
          type: string
          format: date
          example: "2021-11-15"
        noDay:
          type: string
        noMonth:
          type: string
        eventPlace:
          $ref: "#/components/schemas/TipoLuogoEvento"
        eventAct:
          $ref: "#/components/schemas/TipoAttoEvento"
    TipoAttoEvento:
      type: object
      properties:
        act:
          $ref: "#/components/schemas/TipoAtto"
        actANSC:
          $ref: "#/components/schemas/TipoAttoANSC"
    TipoAttoANSC:
      type: object
      properties:
        idANSC:
          type: string
        municipalityRegistration:
          $ref: "#/components/schemas/TipoComune"
        act:
          type: string
        municipalOffice:
          type: string
        municipalNumber:
          type: string
        dateFormationAct:
          type: string
          format: date
          example: "2021-11-15"
        transcribed:
          type: string
    TipoAtto:
      type: object
      properties:
        municipalityRegistration:
          $ref: "#/components/schemas/TipoComune"
        municipalOffice:
          type: string
        year:
          type: string
        part:
          type: string
        series:
          type: string
        actNumber:
          type: string
        volume:
          type: string
        dateFormationAct:
          type: string
          format: date
          example: "2021-11-15"
        transcribed:
          type: string
    GeneralError:
      type: object
      properties:
        idOp:
          type: string
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
    Error:
      type: object
      properties:
        warningErrorCode:
          type: string
        warningErrorType:
          type: string
        warningErrorText:
          type: string
        warningErrorObject:
          type: string
        warningErrorField:
          type: string
        warningErrorValue:
          type: string
    PseudonymizationResponse:
      type: object
      description: Success
      properties:
        seed:
          type: string
          example: 3b9942ce-1f07-4512-8f34-f31b1a7b0061
        cryptoHashFunction:
          type: string
          example: sha256
      required:
        - seed
        - cryptoHashFunction
    Problem:
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 503
          type: integer
        title:
          description: A short, summary of the problem type. Written in english and readable
          example: Service Unavailable
          type: string
        correlationId:
          description: Unique identifier of the request
          example: "53af4f2d-0c87-41ef-a645-b726a821852b"
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          type: string
        errors:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ProblemError"
      required:
        - type
        - status
        - title
        - errors
    ProblemError:
      properties:
        code:
          description: Internal code of the error
          example: 123-4567
          type: string
        detail:
          description: A human readable explanation specific to this occurrence of the problem.
          example: Parameter not valid
          type: string
      required:
        - code
        - detail

  securitySchemes:
    bearerAuth:
      type: http
      description: "A bearer token in the format of a JWS and conformed to the specifications included in [RFC8725](https://tools.ietf.org/html/RFC8725)."
      scheme: bearer
      bearerFormat: JWT
    Agid-JWT-Signature:
      type: apiKey
      in: header
      name: Agid-JWT-Signature
      description: |-
        JWS signature header. The value of this header represents a JWS signature. Refer to [integrity_rest_02] for information on the integrity of the REST message payload in PDND
    Agid-JWT-TrackingEvidence:
      type: apiKey
      in: header
      name: Agid-JWT-TrackingEvidence
      description: |-
        JWS signature header. The value of this header is a JWS signature. Refer to [audit_rest_02] for the forwarding of tracked data within the REST consumer's domain with correlation. Claims to include:
        userID: a unique identifier of the user within the consumer's domain who initiated the request for access to the provider's e-service;
        userLocation: a unique identifier of the workstation within the consumer's domain from which the request for access to the provider's e-service originated;
        LoA: the level of assurance or security adopted in the digital authentication process within the consumer's domain.