openapi: 3.0.3
info:
  title: Residence Submission API
  description: |-
    Service for submitting and updating residence information
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
  x-summary: Residence submission
servers:
  - url: 'http://eservices.att.interop.pagopa.it/'
    description: Attestation Environment
tags:
  - name: Residence Submission
    description: Submission and update of residence information
security:
  - bearerAuth: []
    Agid-JWT-Signature: []
paths:
  /residence-submission:
    put:
      tags:
        - Residence Submission
      summary: Upsert User
      description: Crea o aggiorna un utente in base ai criteri forniti.
      operationId: upsertUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichiestaAR001'
      responses:
        '200':
          description: Operazione completata con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RispostaAR001'
        '400':
          description: Parametri della richiesta non validi
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
components:
  schemas:
    RichiestaAR001:
      type: object
      required:
        - operationId
        - criteria
        - requestData
      properties:
        operationId:
          type: string
        criteria:
          $ref: '#/components/schemas/TipoParametriRicercaAR001'
        requestData:
          $ref: '#/components/schemas/TipoRichiestaAR001'
    RispostaAR001:
      type: object
      properties:
        idOp:
          type: string
        subjects:
          $ref: '#/components/schemas/TipoListaSubjects'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/TipoErroriAnomalia'
    TipoParametriRicercaAR001:
      type: object
      properties:
        subjectId:
          type: string
        id:
          type: string
          description: National Unique Identifier
        surname:
          type: string
        noSurname:
          type: string
        name:
          type: string
        noName:
          type: string
        gender:
          type: string
        birthDate:
          $ref: '#/components/schemas/TipoDatiNascitaE000'
    TipoRichiestaAR001:
      type: object
      required:
        - dateOfRequest
        - useCase
        - motivation
      properties:
        dateOfRequest:
          type: string
          description: Date to which the version of the personal data sheet must refer
          format: YYYY-MM-DD
          example: '2021-11-15'
        motivation:
          type: string
          description: Mandatory field for entering the reference number of the case for which the inquiry is made (e.g., protocol number, file, report, etc.).
        useCase:
          type: string
          description: caso d'uso (es. C001)
    TipoErroriAnomalia:
      type: object
      properties:
        warningErrorCode:
          type: string
        warningErrorType:
          type: string
        warningErrorText:
          type: string
        warningErrorObject:
          type: string
        warningErrorField:
          type: string
        warningErrorValue:
          type: string
    TipoListaSubjects:
      type: object
      properties:
        subject:
          type: array
          items:
            $ref: '#/components/schemas/TipoDatiSubjectsEnte'
    TipoDatiSubjectsEnte:
      type: object
      properties:
        generality:
          $ref: '#/components/schemas/TipoGeneralita'
        address:
          type: array
          items:
            $ref: '#/components/schemas/TipoResidenza'
        identifiers:
          $ref: '#/components/schemas/TipoIdentificativi'
        deathDate:
          $ref: '#/components/schemas/TipoDatiEvento'
    TipoGeneralita:
      type: object
      properties:
        subjectId:
          $ref: '#/components/schemas/TipoCodiceFiscale'
        surname:
          type: string
        noSurname:
          type: string
        name:
          type: string
        noName:
          type: string
        gender:
          type: string
        birthDate:
          type: string
          format: YYYY-MM-DD
          example: '2021-11-15'
        noDay:
          type: string
        noMonth:
          type: string
        birthPlace:
          $ref: '#/components/schemas/TipoLuogoNascitaE000'
        AIRESubject:
          type: string
        yearExpatriation:
          type: string
        idCommonSubjectData:
          $ref: '#/components/schemas/TipoIdSchedaSoggettoComune'
        idSubjectData:
          type: string
        note:
          type: string
    TipoCodiceFiscale:
      type: object
      properties:
        subjectId:
          type: string
        subjectIdValidity:
          type: string
        dataAttributionValidity:
          type: string
          format: YYYY-MM-DD
          example: '2021-11-15'
    TipoLuogoNascitaE000:
      type: object
      properties:
        exceptionalPlace:
          type: string
        municipality:
          $ref: '#/components/schemas/TipoComune'
        place:
          $ref: '#/components/schemas/TipoLocalita'
    TipoComune:
      type: object
      properties:
        nameMunicipality:
          type: string
        istatCode:
          type: string
        acronymIstatProvince:
          type: string
        placeDescription:
          type: string
    TipoLocalita:
      type: object
      properties:
        placeDescription:
          type: string
        countryDescription:
          type: string
        codState:
          type: string
        provinceCounty:
          type: string
    TipoIdSchedaSoggettoComune:
      type: object
      properties:
        idCommonSubjectDataIstat:
          type: string
        idSubjectData:
          type: string
    TipoResidenza:
      type: object
      properties:
        addressType:
          type: string
        noteaddress:
          type: string
        address:
          $ref: '#/components/schemas/TipoIndirizzo'
        foreignState:
          $ref: '#/components/schemas/TipoLocalitaEstera1'
        presso:
          type: string
        addressStartDate:
          type: string
          format: YYYY-MM-DD
          example: '2021-11-15'
    TipoIndirizzo:
      type: object
      properties:
        cap:
          type: string
        municipality:
          $ref: '#/components/schemas/TipoComune'
        fraction:
          type: string
        toponym:
          $ref: '#/components/schemas/TipoToponimo'
        civicNumber:
          $ref: '#/components/schemas/TipoNumeroCivico'
    TipoLocalitaEstera1:
      type: object
      properties:
        foreignAddress:
          $ref: '#/components/schemas/TipoIndirizzoEstero'
        consulate:
          $ref: '#/components/schemas/TipoConsolato'
    TipoToponimo:
      type: object
      properties:
        codType:
          type: string
        type:
          type: string
        originType:
          type: string
        toponymCod:
          type: string
        toponymDenomination:
          type: string
        toponymSource:
          type: string
    TipoNumeroCivico:
      type: object
      properties:
        civicCod:
          type: string
        civicSource:
          type: string
        civicNumber:
          type: string
        metric:
          type: string
        progSNC:
          type: string
        letter:
          type: string
        exponent1:
          type: string
        color:
          type: string
        internalCivic:
          $ref: '#/components/schemas/TipoCivicoInterno'
    TipoCivicoInterno:
      type: object
      properties:
        court:
          type: string
        stairs:
          type: string
        internal1:
          type: string
        espInternal1:
          type: string
        internal2:
          type: string
        espInternal2:
          type: string
        externalStairs:
          type: string
        secondary:
          type: string
        floor:
          type: string
        nui:
          type: string
        isolated:
          type: string
    TipoIndirizzoEstero:
      type: object
      properties:
        cap:
          type: string
        place:
          $ref: '#/components/schemas/TipoDatoLocalitaEstera'
        toponym:
          $ref: '#/components/schemas/TipoToponimoEstero'
    TipoConsolato:
      type: object
      properties:
        consulateCod:
          type: string
        consulateDescription:
          type: string
    TipoDatoLocalitaEstera:
      type: object
      properties:
        placeDescription:
          type: string
        countryDescription:
          type: string
        countryState:
          type: string
        provinceCounty:
          type: string
    TipoToponimoEstero:
      type: object
      properties:
        denomination:
          type: string
        civicNumber:
          type: string
    TipoIdentificativi:
      type: object
      properties:
        id:
          type: string
    TipoDatiEvento:
      type: object
      properties:
        eventDate:
          type: string
          format: YYYY-MM-DD
          example: '2021-11-15'
        noDay:
          type: string
        noMonth:
          type: string
        eventPlace:
          $ref: '#/components/schemas/TipoLuogoEvento'
        eventAct:
          $ref: '#/components/schemas/TipoAttoEvento'
    TipoLuogoEvento:
      type: object
      properties:
        exceptionalPlace:
          type: string
        municipality:
          $ref: '#/components/schemas/TipoComune'
        place:
          $ref: '#/components/schemas/TipoLocalita'
    TipoAttoEvento:
      type: object
      properties:
        act:
          $ref: '#/components/schemas/TipoAtto'
        actANSC:
          $ref: '#/components/schemas/TipoAttoANSC'
    TipoAttoANSC:
      type: object
      properties:
        idANSC:
          type: string
        municipalityRegistration:
          $ref: '#/components/schemas/TipoComune'
        act:
          type: string
        municipalOffice:
          type: string
        municipalNumber:
          type: string
        dateFormationAct:
          type: string
          format: YYYY-MM-DD
          example: '2021-11-15'
        transcribed:
          type: string
    TipoAtto:
      type: object
      properties:
        municipalityRegistration:
          $ref: '#/components/schemas/TipoComune'
        municipalOffice:
          type: string
        year:
          type: string
        part:
          type: string
        series:
          type: string
        actNumber:
          type: string
        volume:
          type: string
        dateFormationAct:
          type: string
          format: YYYY-MM-DD
          example: '2021-11-15'
        transcribed:
          type: string
    GeneralError:
      type: object
      properties:
        idOp:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        warningErrorCode:
          type: string
        warningErrorType:
          type: string
        warningErrorText:
          type: string
        warningErrorObject:
          type: string
        warningErrorField:
          type: string
        warningErrorValue:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      description: 'A bearer token in the format of a JWS and conformed to the specifications included in [RFC8725](https://tools.ietf.org/html/RFC8725).'
      scheme: bearer
      bearerFormat: JWT
    Agid-JWT-Signature:
      type: apiKey
      in: header
      name: Agid-JWT-Signature
      description: |-
        JWS signature header. The value of this header represents a JWS signature. Refer to [integrity_rest_02] for information on the integrity of the REST message payload in PDND
    Agid-JWT-TrackingEvidence:
      type: apiKey
      in: header
      name: Agid-JWT-TrackingEvidence
      description: |-
        JWS signature header. The value of this header is a JWS signature. Refer to [audit_rest_02] for the forwarding of tracked data within the REST consumer's domain with correlation. Claims to include:
        userID: a unique identifier of the user within the consumer's domain who initiated the request for access to the provider's e-service;
        userLocation: a unique identifier of the workstation within the consumer's domain from which the request for access to the provider's e-service originated;
        LoA: the level of assurance or security adopted in the digital authentication process within the consumer's domain.