openapi: 3.0.3
info:
  title: Residence Submission API
  description: |-
    Service for submitting and updating residence information
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
  x-summary: Residence submission
servers:
  - url: 'http://eservices.att.interop.pagopa.it/'
    description: Attestation Environment
tags:
  - name: Residence Submission
    description: Submission and update of residence information
security:
  - bearerAuth: []
    Agid-JWT-Signature: []
paths:
  /residence-submission:
    post:
      tags:
        - Residence Submission
      summary: Upsert User
      description: Create a user based on the provided criteria.
      operationId: upsertUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichiestaAR003'
      responses:
        '200':
          description: Operazione completata con successo
        '400':
          description: Parametri della richiesta non validi
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
    put:
      tags:
        - Residence Submission
      summary: Update User
      description: Update an existing user based on the provided criteria.
      operationId: updateUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichiestaAR003'
      responses:
        '200':
          description: Operazione completata con successo
        '400':
          description: Parametri della richiesta non validi
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '404':
          description: Utente non trovato
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        delete:
          tags:
            - Residence Submission
          summary: Delete institution use cases
          description: Delete institution use cases
          operationId: DeleteAR001
          security:
            - bearerAuth: []
          responses:
            '200':
              description: Operation completed successfully
            '400':
              description: Bad request
              content:
                application/problem+json:
                  schema:
                    $ref: '#/components/schemas/GeneralError'
            '401':
              description: Unauthorized
              content:
                application/problem+json:
                  schema:
                    $ref: '#/components/schemas/GeneralError'
            '403':
              description: Forbidden
              content:
                application/problem+json:
                  schema:
                    $ref: '#/components/schemas/GeneralError'
            '429':
              description: Too Many Requests
              content:
                application/problem+json:
                  schema:
                    $ref: '#/components/schemas/GeneralError'

    /residence-submission/status:
    get:
      tags:
        - Health Check
      summary: Health status endpoint
      description: Return ok
      operationId: getStatus
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"


components:
  schemas:
    RichiestaAR003:
      type: object
      required:
        - idOp
        - subjects
      properties:
        idOp:
          type: string
        subjects:
          $ref: '#/components/schemas/TipoListaSubjects'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/TipoErroriAnomalia'
        criteria:
          $ref: '#/components/schemas/TipoParametriRicercaAR001'
    TipoListaSubjects:
      type: object
      required:
        - subject
      properties:
        subject:
          type: array
          $ref: '#/components/schemas/TipoDatiSubjectsEnte'
    TipoDatiSubjectsEnte:
      type: object
      required:
        - generality
        - address
        - identifiers
        - deathDate
      properties:
        generality:
          $ref: '#/components/schemas/TipoGeneralita'
        address:
          type: array
          items:
            $ref: '#/components/schemas/TipoResidenza'
        identifiers:
          $ref: '#/components/schemas/TipoIdentificativi'
        deathDate:
          $ref: '#/components/schemas/TipoDatiEvento'
    TipoGeneralita:
      type: object
      required:
        - subjectId
        - surname
        - name
        - gender
        - birthDate
        - birthPlace
        - AIRESubject
        - yearExpatriation
        - idCommonSubjectData
        - idSubjectData
      properties:
        subjectId:
          type: object
          $ref: '#/components/schemas/TipoCodiceFiscale'
        surname:
          type: string
        noSurname:
          type: string
        name:
          type: string
        noName:
          type: string
        gender:
          type: string
        birthDate:
          type: string
        noDay:
          type: string
        noMonth:
          type: string
        birthPlace:
          $ref: '#/components/schemas/TipoLuogoEvento'
        AIRESubject:
          type: string
        yearExpatriation:
          type: string
        idCommonSubjectData:
          $ref: '#/components/schemas/TipoIdSchedaSoggettoComune'
        idSubjectData:
          type: string
        note:
          type: string
    TipoCodiceFiscale:
      type: object
      required:
        - subjectId
        - subjectIdValidity
        - dataAttributionValidity
      properties:
        subjectId:
          type: string
        subjectIdValidity:
          type: string
        dataAttributionValidity:
          type: string
    TipoResidenza:
      type: object
      properties:
      addressType:
        type: string
      noteaddress:
        type: string
      address:
        $ref: '#/components/schemas/TipoIndirizzo'
      foreignState:
        $ref: '#/components/schemas/TipoLocalitaEstera1'
      presso:
        type: string
      addressStartDate:
        type: string
    TipoIndirizzo:
      type: object
      properties:
      cap:
        type: string
      municipality:
        $ref: '#/components/schemas/TipoComune'
      fraction:
        type: string
      toponym:
        $ref: '#/components/schemas/TipoToponimo'
      civicNumber:
        $ref: '#/components/schemas/TipoNumeroCivico'
    TipoComune:
      type: object
      properties:
        nameMunicipality:
          type: string
        istatCode:
          type: string
        acronymIstatProvince:
          type: string
        placeDescription:
          type: string
      additionalProperties: true
    TipoToponimo:
      type: object
      properties:
        codType:
          type: string
        type:
          type: string
        originType:
          type: string
        toponymCod:
          type: string
        toponymDenomination:
          type: string
        toponymSource:
          type: string
      additionalProperties: true
    TipoNumeroCivico:
      type: object
      properties:
      civicCod:
        type: string
      civicSource:
        type: string
      civicNumber:
        type: string
      metric:
        type: string
      progSNC:
        type: string
      letter:
        type: string
      exponent1:
        type: string
      color:
        type: string
      internalCivic:
        $ref: '#/components/schemas/TipoCivicoInterno'
    TipoCivicoInterno:
      type: object
      properties:
      court:
        type: string
      stairs:
        type: string
      internal1:
        type: string
      espInternal1:
        type: string
      internal2:
        type: string
      espInternal2:
        type: string
      externalStairs:
        type: string
      secondary:
        type: string
      floor:
        type: string
      nui:
        type: string
      isolated:
        type: string
      additionalProperties: true
    TipoLocalitaEstera1:
      type: object
      properties:
      foreignAddress:
        $ref: '#/components/schemas/TipoIndirizzoEstero'
      consulate:
        $ref: '#/components/schemas/TipoConsolato'
      additionalProperties: true
    TipoIndirizzoEstero:
      type: object
      properties:
        cap:
          type: string
        place:
          $ref: '#/components/schemas/TipoDatoLocalitaEstera'
        toponym:
          $ref: '#/components/schemas/TipoToponimoEstero'
      additionalProperties: true
    TipoConsolato:
      type: object
      properties:
        consulateCod:
          type: string
        consulateDescription:
          type: string
      additionalProperties: true
    TipoDatoLocalitaEstera:
      type: object
      properties:
        placeDescription:
          type: string
        countryDescription:
          type: string
        countryState:
          type: string
        provinceCounty:
          type: string
      additionalProperties: true
    TipoToponimoEstero:
      type: object
      properties:
        denomination:
          type: string
        civicNumber:
          type: string
      additionalProperties: true
    TipoDatiEvento:
      type: object
      properties:
      eventDate:
        type: string
      noDay:
        type: string
      noMonth:
        type: string
      eventPlace:
        $ref: '#/components/schemas/TipoLuogoEvento'
      eventAct:
        $ref: '#/components/schemas/TipoAttoEvento'
      additionalProperties: true
    TipoLuogoEvento:
      type: object
      properties:
      exceptionalPlace:
        type: string
      municipality:
        $ref: '#/components/schemas/TipoComune'
      place:
        $ref: '#/components/schemas/TipoLocalita'
      additionalProperties: true
    TipoAttoEvento:
      type: object
      properties:
        act:
          $ref: '#/components/schemas/TipoAtto'
        actANSC:
          $ref: '#/components/schemas/TipoAttoANSC'
      additionalProperties: true
    TipoAtto:
      type: object
      properties:
        municipalityRegistration:
          $ref: '#/components/schemas/TipoComune'
        municipalOffice:
          type: string
        year:
          type: string
        part:
          type: string
        series:
          type: string
        actNumber:
          type: string
        volume:
          type: string
        dateFormationAct:
          type: string
        transcribed:
          type: string
      additionalProperties: true
    TipoAttoANSC:
      type: object
      properties:
        idANSC:
          type: string
        municipalityRegistration:
          $ref: '#/components/schemas/TipoComune'
        act:
          type: string
        municipalOffice:
          type: string
        municipalNumber:
          type: string
        dateFormationAct:
          type: string
        transcribed:
          type: string
      additionalProperties: true
    TipoIdSchedaSoggettoComune:
      type: object
      properties:
      idCommonSubjectDataIstat:
        type: string
      idSubjectData:
        type: string
      additionalProperties: true
    TipoIdentificativi:
      type: object
      properties:
        id:
          type: string
      additionalProperties: true
    TipoErroriAnomalia:
      type: object
      properties:
      warningErrorCode:
        type: string
      warningErrorType:
        type: string
      warningErrorText:
        type: string
      warningErrorObject:
        type: string
      warningErrorField:
        type: string
      warningErrorValue:
        type: string
      additionalProperties: true
    # Qui resto degli oggetti
    GeneralError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    TipoParametriRicercaAR001:
      type: object
      properties:
        subjectId:
          type: string
        id:
          type: string
        surname:
          type: string
        name:
          type: string
        gender:
          type: string
        birthDate:
          $ref: '#/components/schemas/TipoDatiNascitaE000'
    TipoDatiNascitaE000:
      type: object
      properties:
        eventDate:
          type: string
          format: date
        noDay:
          type: string
        noMonth:
          type: string
        birthPlace:
          $ref: '#/components/schemas/TipoLuogoNascitaE000'
    TipoLuogoNascitaE000:
      type: object
      properties:
        exceptionalPlace:
          type: string
        municipality:
          $ref: '#/components/schemas/TipoComune'
        place:
          $ref: '#/components/schemas/TipoLocalita'
    TipoLocalita:
      type: object
      properties:
        placeDescription:
          type: string
        countryDescription:
          type: string
        codState:
          type: string
    Error:
      type: object
      properties:
        warningErrorCode:
          type: string
        warningErrorType:
          type: string
        warningErrorText:
          type: string
        warningErrorObject:
          type: string
        warningErrorField:
          type: string
        warningErrorValue:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      description: 'A bearer token in the format of a JWS and conformed to the specifications included in [RFC8725](https://tools.ietf.org/html/RFC8725).'
      scheme: bearer
      bearerFormat: JWT
    Agid-JWT-Signature:
      type: apiKey
      in: header
      name: Agid-JWT-Signature
      description: |-
        JWS signature header. The value of this header represents a JWS signature. Refer to [integrity_rest_02] for information on the integrity of the REST message payload in PDND
    Agid-JWT-TrackingEvidence:
      type: apiKey
      in: header
      name: Agid-JWT-TrackingEvidence
      description: |-
        JWS signature header. The value of this header is a JWS signature. Refer to [audit_rest_02] for the forwarding of tracked data within the REST consumer's domain with correlation. Claims to include:
        userID: a unique identifier of the user within the consumer's domain who initiated the request for access to the provider's e-service;
        userLocation: a unique identifier of the workstation within the consumer's domain from which the request for access to the provider's e-service originated;
        LoA: the level of assurance or security adopted in the digital authentication process within the consumer's domain.