openapi: 3.0.3
info:
  title: API Acquisizione Residenza
  description: |-
    Servizio per l'invio, l'aggiornamento e l'eliminazione delle informazioni sulla residenza.
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
  x-summary: Acquisizione residenza
servers:
  - url: 'http://eservices.att.interop.pagopa.it/'
    description: Ambiente di Attestazione
tags:
  - name: Residence Submission
    description: Invio e aggiornamento delle informazioni sulla residenza
  - name: Health Check
    description: Controllo stato di salute del servizio
security:
  - bearerAuth: []
  - Agid-JWT-Signature: []

paths:
  /residence-submission:
    post:
      tags:
        - Residence Submission
      summary: Inserisci Utente
      description: Crea un utente in base ai criteri forniti.
      operationId: upsertUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichiestaAR003'
      responses:
        '200':
          description: Operazione completata con successo
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid request parameters
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    put:
      tags:
        - Residence Submission
      summary: Aggiorna Utente
      description: Aggiorna un utente esistente in base ai criteri forniti.
      operationId: updateUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichiestaAR003'
      responses:
        '200':
          description: Operazione completata con successo
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid request parameters
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: User not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /residence-submission/{id}:
    delete:
      tags:
        - Residence Submission
      summary: Elimina Utente
      description: Elimina un utente tramite il suo identificativo univoco.
      operationId: deleteUser
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Utente eliminato con successo
        '400':
          description: Invalid request parameters
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: User not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /residence-submission/status:
    get:
      tags:
        - Health Check
      summary: Endpoint stato di salute
      description: Restituisce ok
      operationId: healthCheck
      responses:
        "200":
          description: Operazione riuscita
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  uptime:
                    type: number
                  timestamp:
                    type: string
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

components:
  schemas:
    RichiestaAR003:
      type: object
      required:
        - idOperazioneClient
        - soggetto
      properties:
        idOperazioneClient:
          type: string
          description: Identificativo univoco operazione lato client.
        soggetto:
          $ref: '#/components/schemas/SoggettoAR003'

    SoggettoAR003:
      type: object
      required:
        - codiceFiscale
      properties:
        codiceFiscale:
          type: string
        idANPR:
          type: string
        cognome:
          type: string
        senzaCognome:
          type: string
        nome:
          type: string
        senzaNome:
          type: string
        sesso:
          type: string
        datiNascita:
          $ref: '#/components/schemas/DatiNascitaAR003'
        residenza:
          $ref: '#/components/schemas/ResidenzaAR003'

    DatiNascitaAR003:
      type: object
      properties:
        dataEvento:
          type: string
          format: date
          example: "1985-08-01"
        senzaGiorno:
          type: string
        senzaGiornoMese:
          type: string
        luogoNascita:
          type: object
          properties:
            luogoEccezionale:
              type: string
            comune:
              $ref: '#/components/schemas/ComuneAR003'
            localita:
              $ref: '#/components/schemas/LocalitaAR003'

    ResidenzaAR003:
      type: object
      properties:
        tipoIndirizzo:
          type: string
        indirizzo:
          $ref: '#/components/schemas/IndirizzoCompletoAR003'
        localitaEstera:
          $ref: '#/components/schemas/LocalitaEsteraAR003'

    IndirizzoCompletoAR003:
      type: object
      properties:
        cap:
          type: string
        comune:
          $ref: '#/components/schemas/ComuneAR003'
        frazione:
          type: string
        toponimo:
          $ref: '#/components/schemas/ToponimoAR003'
        numeroCivico:
          $ref: '#/components/schemas/NumeroCivicoAR003'

    ToponimoAR003:
      type: object
      properties:
        codSpecie:
          type: string
        specie:
          type: string
        specieFonte:
          type: string
        codToponimo:
          type: string
        denominazioneToponimo:
          type: string
        toponimoFonte:
          type: string

    NumeroCivicoAR003:
      type: object
      properties:
        codiceCivico:
          type: string
        civicoFonte:
          type: string
        numero:
          type: string
        metrico:
          type: string
        progSNC:
          type: string
        lettera:
          type: string
        esponente1:
          type: string
        colore:
          type: string
        civicoInterno:
          $ref: '#/components/schemas/CivicoInternoAR003'

    CivicoInternoAR003:
      type: object
      properties:
        corte:
          type: string
        scala:
          type: string
        interno1:
          type: string
        espInterno1:
          type: string
        interno2:
          type: string
        espInterno2:
          type: string
        scalaEsterna:
          type: string
        secondario:
          type: string
        piano:
          type: string
        nui:
          type: string
        isolato:
          type: string

    LocalitaEsteraAR003:
       type: object
       properties:
         indirizzoEstero:
           type: object
           properties:
             cap:
               type: string
             localita:
               $ref: '#/components/schemas/LocalitaAR003'
             toponimo:
               type: object
               properties:
                 denominazione:
                   type: string
                 numeroCivico:
                   type: string
         consolato:
           type: object
           properties:
             codiceConsolato:
               type: string
             descrizioneConsolato:
               type: string

    ComuneAR003:
      type: object
      properties:
        nomeComune:
          type: string
        codiceIstat:
          type: string
        siglaProvinciaIstat:
          type: string
        descrizioneLocalita:
          type: string

    LocalitaAR003:
      type: object
      properties:
        descrizioneLocalita:
          type: string
        descrizioneStato:
          type: string
        codiceStato:
          type: string
        provinciaContea:
          type: string

    Problem:
      type: object
      properties:
        type:
          type: string
        status:
          type: integer
        title:
          type: string
        correlationId:
          type: string
        detail:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ProblemError'
      required:
        - type
        - status
        - title
        - errors
    ProblemError:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
      required:
        - code
        - detail

  securitySchemes:
    bearerAuth:
      type: http
      description: 'Un token bearer nel formato JWS.'
      scheme: bearer
      bearerFormat: JWT
    Agid-JWT-Signature:
      type: apiKey
      in: header
      name: Agid-JWT-Signature
      description: Intestazione della firma JWS.